body {
    background-color: #dcdfe3;
}

.box-form {
    background-color: #ffffff;
    width: 40%;
    margin-top: 7%;
    padding: 20px;
    border-radius: 3px;
}

.titulo-form {
    text-align: center;
    margin-bottom: 16px;
    font-family: Helvetica, sans-serif;
}